<div class="min-h-screen bg-gray-100 p-6">


<div class="bg-white shadow-lg rounded-2xl p-6 max-w-8xl w-full mx-auto mb-6">

    <div class="flex flex-col lg:flex-row lg:items-center">

      <div>
        <h1 class="text-3xl font-bold text-gray-800">
          Weather Dashboard
        </h1>
      </div>

      <div class="flex items-center gap-3 mt-4 lg:mt-0 lg:ml-auto">


        <input
          [(ngModel)]="city"
          placeholder="Enter city name"
          class="border border-gray-300 px-4 py-2 rounded-xl w-64 focus:outline-none focus:ring-2 focus:ring-blue-400"
        />

       
        <button
          (click)="search()"
          class="bg-blue-500 hover:bg-blue-600 text-white px-5 py-2 rounded-xl shadow"
        >
          Search
        </button>

        <button
          (click)="goHome()"
          class="bg-gray-700 hover:bg-gray-800 text-white px-5 py-2 rounded-xl shadow"
        >
          ← Back
        </button>

      </div>
    </div>
  </div>


 <div
  *ngIf="current"
  class="relative overflow-hidden rounded-3xl shadow-2xl p-8 max-w-8xl w-full mx-auto text-white bg-cover bg-center"
  style="background-image: url('../../assets/download.jpg');"
>

 
  <div class="absolute inset-0 bg-black/40"></div>

  <div class="relative z-10">

    <div class="text-center mb-8">

      <h2 class="text-3xl font-bold">
        {{ current.name }}
      </h2>

      <p class="text-7xl font-bold mt-4">
        {{ current.main.temp }}°C
      </p>

      <p class="capitalize text-2xl mt-3 text-gray-200">
        {{ current.weather[0].description }}
      </p>

    </div>


    <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-8">

      <div class="backdrop-blur-md bg-white/10 rounded-2xl p-5 text-center border border-white/20">

        <p class="text-sm text-gray-200">
          Humidity
        </p>

        <p class="text-4xl font-bold mt-3">
          {{ current.main.humidity }}%
        </p>

        <div class="w-full bg-white/20 rounded-full h-2 mt-4">
          <div
            class="bg-blue-400 h-2 rounded-full"
            [style.width.%]="current.main.humidity"
          ></div>
        </div>

      </div>

      
      <div class="backdrop-blur-md bg-white/10 rounded-2xl p-5 text-center border border-white/20">

        <p class="text-sm text-gray-200">
          Wind Speed
        </p>

        <p class="text-4xl font-bold mt-3">
          {{ current.wind.speed }}
        </p>

        <p class="text-sm mt-2 text-gray-300">
          km/h
        </p>

      </div>


      <div class="backdrop-blur-md bg-white/10 rounded-2xl p-5 text-center border border-white/20">

        <p class="text-sm text-gray-200">
          Feels Like
        </p>

        <p class="text-4xl font-bold mt-3">
          {{ current.main.feels_like }}°C
        </p>

      </div>


      <div class="backdrop-blur-md bg-white/10 rounded-2xl p-5 text-center border border-white/20">

        <p class="text-sm text-gray-200">
          Pressure
        </p>

        <p class="text-4xl font-bold mt-3">
          {{ current.main.pressure }}
        </p>

        <p class="text-sm mt-2 text-gray-300">
          hPa
        </p>

      </div>

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 mt-10">

      <div
        *ngFor="let f of forecast"
        class="backdrop-blur-md bg-white/10 border border-white/20 rounded-2xl p-5 text-center"
      >

        <p class="font-semibold text-gray-200">
          {{ f.dt_txt | date:'shortTime' }}
        </p>

        <p class="text-3xl font-bold mt-3">
          {{ f.main.temp }}°C
        </p>

        <p class="capitalize text-gray-300 mt-2">
          {{ f.weather[0].description }}
        </p>

      </div>

    </div>

  </div>

</div>

</div>